.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    padding: 40px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-group {
    display: flex;
    flex-direction: column;
}

.order-group__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.order-group__head {
    margin-top: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: $secondary-color;
}

.order-group__input,
.order-group__comment-area {
    outline: none;
    margin-top: 4px;
    padding-left: 42px;
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

   .order-group__label:focus-within & {
        border-color: $brand-color;
    }

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-thumb {
    position: relative;
}

.order-group__icon {
    fill: $secondary-color;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    .order-group__label:focus-within & {fill: $brand-color;} 

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.order-group__comment-area {
    height: 120px;
    resize: none;
    padding: 12px 16px;
}

.order-group__button {
    display: flex;
    min-width: 200px;
    align-self: center;
    border-radius: 4px;
    padding: 10px 52px;

    font-family: inherit;
    font-weight: 700;
    font-size: $secondary-font-size;
    line-height: 1.88;
    letter-spacing: $secondary-letter-spacing;
    color: $white-color;

    background-color: $brand-color;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {background-color: $hero-button-accent;}

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}