body {
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    color: $primary-color;
    background-color: $white-color;
    letter-spacing: 0.03em;
}

.button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.image {
    display: block;
}

.title {
    color: $secondary-color;
}

.section__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}