  $primary-color: #757575;
  $secondary-color: #212121;
  $dark-background-color: #2f303a;
  $light-background-color: #f5f4fa;
  $brand-color: #2196f3;
  $white-color: #ffffff;
  $black-color: #000000;
  $hero-button-accent: #188ce8;
  $transparent-color: rgba(255, 255, 255, 0.6);
  $hero-button-shadow: rgba(0, 0, 0, 0.15);
  $button-strong-shadow: rgba(0, 0, 0, 0.1);
  $button-middle-shadow: rgba(0, 0, 0, 0.08);
  $button-light-shadow: rgba(0, 0, 0, 0.12);
  
  $secondary-font-size: 16px;
  $primary-line-height: 1.14;
  $secondary-line-height: 1.19;
  $secondary-letter-spacing: 0.06em;