
.social-network__icon {
    fill: #afb1b8;

    .social-network__link:hover &,
    .social-network__link:focus & {
            fill: $white-color;
        }

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover,
.social-network__link:focus {
    background-color: $brand-color;
}